html {
    background: url(http://haoliu119.github.io/anita-hao-wedding/assets/bg-1693x973.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
body {
    font-family: arial, helvetica, sans-serif;
    color: white;
    padding-top: 50px;
    height: 100%;
}
footer {
    margin-top: 10px;
    position: fixed;
    bottom:0px;
    padding-left: 30px;
    padding-right: 30px;
    width:100%;
}
footer .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
footer div {
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
footer p {
    margin-top: 0px;
    color: black;
    font-family: arial, helvetica, sans-serif;
    text-shadow: none;
}
.sprites {
    background-image: url(http://haoliu119.github.io/anita-hao-wedding/assets/sprite.png);
}
.badge-logo {
    background-position: -455px -234px;
    width: 12px;
    height: 13px;
    display: block;
}
.badge-logo-container {
    padding-right: 5px;
}
.left {
    float: left;
}
.powered-by-container {
    padding: 8px 10px;
    background: rgba(255,255,255,0.5);
    display: inline-block;
    overflow: hidden;
    color: #000;
    font-size: 9px;
    font-weight: 400;
}
.navbar-default {
  background-color: rgb(73,28,50);
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
.navbar .nav{
    float: none;
    text-align: center;
}
.navbar .nav > li{
    float: none;
    display: inline-block;
}
.navbar-nav > .active > a {
    color: rgb(240, 142, 38);
}
.jumbotron {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.jumbotron h1, h2, h3, p {
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: none;
    font-family: "Stardos Stencil", fantasy;
    font-weight: bold;
    color: rgb(240, 142, 38);
    text-shadow: #ffffff -1px -1px 0px, #ffffff -1px 1px 0px, #ffffff 1px 1px 0px, #ffffff 1px -1px 0px;
}
.jumbotron > .container.right {
    text-align: right;
}
.backdrop {
    background-color: rgba(255,255,255,0.5);
}

.jumbotron h1 {
    font-size: 85px;
}

.jumbotron h2 {
    font-size: 60px;
}
.jumbotron h3 {
    font-size: 30px;
}
.jumbotron p {
    font-size: 18px;
}
.jumbotron p.bold {
    font-size: 24px;
}
/*small desktops*/
@media only screen and (max-width:1024px) {
    html {
        background: url(http://haoliu119.github.io/anita-hao-wedding/assets/bg-1280x735.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/*tablets*/
@media only screen and (max-width:800px) {
    html {
        background: url(http://haoliu119.github.io/anita-hao-wedding/assets/bg-960x551.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }
}

/*smartphones*/
@media only screen and (max-width:640px) {
    footer {
        bottom:0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    footer .container {
        padding-left: 0px;
    }
    .jumbotron {
        padding: 10px;
    }
    .jumbotron h1 {
        font-size: 50px;
    }

    .jumbotron h2 {
        font-size: 35px;
    }
    .jumbotron h3 {
        font-size: 28px;
    }
    .jumbotron p.bold {
        font-size: 22px;
    }
    .jumbotron p {
        font-size: 18px;
    }
}